/* 
    Created on : 24.11.2018, 12:20:55
    Author     : larissolb
*/
@import url(normalize.css);
@import url(media.css);


body {
    background: url(../img/bfon.png);
    background-color: rgba(248, 248, 255, 0.2);
}

img {
   max-width: 100%;
   height: auto;
   max-height: 100%;
}

/*header */
#header {
    background: url(../img/main.jpg);
    display: flex;
    flex:1;
    -webkit-flex: 1;
    -moz-flex: 1;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

#header:hover {
    background-image: url(../img/main-hover.jpg);
}

h1 {
    margin-left: 0.5em;
    color: #8B4513;
}

/*menu*/
.top {
    display: flex;
}
.menu {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    position:absolute;
    list-style:none;
    margin: 0;
    padding:0.5em 0 0.5em 1.5em;
    background: #40E0D0;
    width: 92%;
}

.menu ul li {
    position:relative;
    float:left;    
    justify-content: center;
}

.menu ul li:hover ul{
    display:block;
    padding:0;
}

.menu ul li a, .authorization a{
    padding:0.7em 1.7em 0.7em 1.7em;
    font-size:0.875em;
    font-family:Arial, sans-serif;
    color:#ffffef;
    line-height:1.3em;
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    height:2.250em;
  
}

.menu ul li > a:hover, nav ul li:hover > a, .authorization a:hover{
    background:#DDA0DD;
    color:#F0FFF0;
}

/*раскрывающееся меню*/
.menu ul li ul {
    background: #AAF0D1;
    display: none;   
}

.menu ul li ul li  {
    position:relative;   
    width: 100%;
    text-align: center;
}

.menu ul li ul li a {
    display: block;
    text-transform: none;
    height: auto;
    padding: 0.5em 1em;
    border-top: 1px solid #ffffff;
}
.mobile-menu {
    display: none;
}

/*authorization*/
.authorization {
    position:relative;
    background: #256D7B;
    padding:0.5em 0 0.5em 0;
}
.open-window {
    display: none;
}
.open-window ::-webkit-input-placeholder {
   color:#333333;
}
.open-window ::-moz-placeholder {
    color:#333333;
}
.open-window a {
    text-transform: uppercase;
    color: #6572BC;
}
.open-window:target {
    display: block;
    position: fixed;
    right: -1%;
    background:  #AAF0D1;
}

/*recovery psw*/
.mobile-links-authorization, .hide {
    display: none;
}
.recovery {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(95, 158, 160, 0.65);
    position: fixed; 
 }
.recovery:target {
    display: block;
}
.recovery-window {
    display: none;
    right: 0;
    left: 30%;
    font-size: 0.875em;
    margin-top: 5em;
    width: 85%;
    min-width: 20em;
    max-width: 37.5em;
    position: fixed;
    padding: 0.938em;
    background-color: rgba(216, 191, 216, 0.9);
    -webkit-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -moz-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -ms-box-shadow:0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
   z-index: 100;
}
.recovery-window ::-webkit-input-placeholder{
        color:#333333;
}
.recovery-window ::-moz-placeholder{
        color:#333333;
}

.recovery-window h4 {
    margin-top: 0;
}
.recovery:target+.recovery-window {
    display:block;
}

/*register*/
.register {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 100, 0, 0.65);
    position: fixed; 
}
.register:target {
    display: block;
}
.register-window {
    display:none;
    right: 0;
    left: 30%;
    font-size: 0.875em;
    margin: 0;
    width: 85%;
    min-width: 20em;
    max-width: 37.5em;
    position: fixed;
    padding: 0.938em;
    border-radius: 0.5em;
    border-style: dotted;
    border-color: darkgreen; 
    color: #F5F5F5;
    background-color: rgba(0, 255, 127, 0.7);
    -webkit-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -moz-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -ms-box-shadow:0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
   z-index: 100;
}
.register-window ::-webkit-input-placeholder {
    color:#333333;
}
.register-window ::-moz-placeholder {
    color:#333333;
}
.register:target+.register-window {
    display: block;
}

h4 {
    margin-top: 0;
}

#create input {
  width: 95%; 
  margin-bottom: 1em;
}

#country {
    width: 100%; 
    margin-bottom: 1.5em;
    color: #7A7666;
}

#info {
    display: block;
    font-style: italic;
    color: #47402E;
    margin: -1em 0.3em 0.8em 0.3em;
    font-size: 0.9em;
}

#busyEmail, #busyLogin, #noCountry  {
    display: none;
    font-style: italic;
    color: #C41E3A;
    margin: -1em 0 1em 0;
}

/*buttons*/
#BtnEnter, .Btn {
    text-transform: uppercase;
    color: #6572BC;
    margin: 0.5em 0.5em 0.5em 0;
    box-shadow: 0.063em 0.063em 0.63em darkgray;
    background: #AAF0D1;
    height: auto;
    width: 100%;
}
#createBtn, #create .Btn {
    color: #00693E;
    background: #F5F5F5;
}

#createBtn {
    text-transform: uppercase;
    color: #00693E;
    margin: 0.5em 0.5em 0.5em 0;
    box-shadow: 0.063em 0.063em 0.63em darkgray;
    background: #F5F5F5;
    height: auto;
    width: 100%; 
}

#BtnEnter:hover, .Btn:hover{
    background: #256D7B;
    box-shadow: 0.063em 0.063em 0.63em darkgray;
    font-weight: bolder; 
    color: #ffffff;
}
#createBtn:hover, #create .Btn:hover{
    background: #44944A;
    box-shadow: 0.063em 0.063em 0.63em darkgray;
    font-weight: bolder; 
    color: #ffffff;
}
    
#aBtnlater {
    background: #AAF0D1;
    padding: 0;
}

.close-button {
    top: -0.625em;
    right: -0.625em;
    width: 1.250em;
    height: 1.250em;
    position: absolute;
    padding: 0;
    border: 2px solid lavenderblush;
    -webkit-border-radius: 0.938em;
    -moz-border-radius: 0.938em;
    -ms-border-radius: 0.938em;
    -o-border-radius: 0.938em;
    border-radius: 0.938em;
    background-color: rgba(119, 136, 153, 0.8);
    -webkit-box-shadow: 0em 0em 1em #000;
    -moz-box-shadow: 0em 0em 1em #000;
    box-shadow: 0em 0em 1em #000;
    text-align: center;
    text-decoration: none;
    font: 0.813em/1.250em 'Tahoma', Arial, sans-serif;
    font-weight: bold;
}
.close-button:before {
    color: lightsteelblue;
    content: "X";
    font-size: 1.5em;
    font-weight: bolder;
}
.close-button:hover {
    background-color: highlighttext;
}

/*index.html*/
.container-mobile, #mob-text {
    display: none;
}

.container {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;    
}

.left {
    flex: 1;
    margin: 1em;
}

.left img {
    border: groove 10px #007BA7;
    border-radius: 30px; 
}

.center {
    flex: 2;
    margin: 1em;
}

.right {
    flex: 1;
    margin: 1em;
}

.right img {
    border: ridge 10px #FDD5B1;
    border-radius: 30px;
}

/*rating.html*/
.container-rating {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;    
}

.container-rating .left {
    flex: 1;
    margin: 1em 1em 1em 0;
}

.left img {
    border: none;
    border-radius: 5px;    
}

.right img {
    border: outset violet 4px;
    border-radius: 0;  
    float: right;
    margin-bottom: 0.3em;
}

.container-rating .center {
    flex: 4;
    margin: 1em 0 1em 1em;
}

.container-rating .right {
    flex: 1;
    margin: 1em 0 1em 1em;
}
/*for sliders*/
.actions {
    display: flex;
    align-self: center;
    background: #F0FFF0;
}

.slider {
     box-shadow: 0 0 0 1px silver,
    0 -20px 0 -10px coral,
    20px 0 0 -10px chartreuse, 
    0 20px 0 -10px gold, 
    -20px 0 0 -10px darkturquoise;
    margin: 1em 2em 1em 1em;
/*     width: 97%;
    height: 50%; */
}

.slider img {
    display: none;
}

.slider img.active {
    display: block;
}

#print {
    padding: 1em 0 1em 0;
    opacity: 0.8;
    margin-right: 11px;
}

#like {
    opacity: 0.8;
    padding: 1em 0 1em 0.5em;
}

#like:hover, #print:hover {
        opacity: 1;
        cursor: pointer;
}
.like {
    color: lightseagreen;
    font-weight:bolder;
 }
.comments {
    width: 100%;
    padding-top: 0.5em;
 }
 
textarea {
  resize: none;
  width: 100%;
  background: #0088cc; 
  box-shadow: 0 0 4em 4em floralwhite inset;
  margin-bottom: 0.5em;
}

.btn-comment {
  background: lavender;
  font-weight: 500; 
  font-family: "FunSized";
  letter-spacing: 5px;
  color: #0088cc;
  text-transform: uppercase;
  padding: 0.5em;
}
.btn-comment:hover {
  background: lightblue;
  cursor: pointer;
}

fieldset {
  border: none;
  resize: none;
}

#comments  > div{
  border-bottom: 0.5px dotted grey;
  padding: 0.5em;
  font-size: 1.1em;
  font-weight: 300;
  color: darkcyan;
}


/*footer*/
.footer {
    display: flex;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    background: rgba(30, 144, 255, 0.3);
    font-size: small;
    padding: 1em 1em 0 1em;
    flex-direction: row;
}

.socnet {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    text-align: justify;
}
.up {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    text-align: end;
    margin-top: -1.5em;
}
