@media screen and (max-width: 1024px) {
/*header
for 768 px, 480 px, 320 px
*/
#header {
    justify-content: center;
}

#header h1{
    font-size: 1em;
}

/*menu
for 768 px, 480 px, 320 px
*/
.menu {
    display: none;
}

.top .mobile-menu {
    display: inline-block;
    flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
}
.top .mobile-menu ul {
    list-style:none;
    margin: 0;
    padding: 0;
    background: #40E0D0;
}
.top .mobile-menu ul li {
    position: relative;
}

.top .mobile-menu a{
    display: block;
    padding: 0.563em 1.563em 0em 1.563em;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    font-family: Arial, sans-serif;
    color: #ffffef;
    line-height: 1.3em;
    text-transform: uppercase;
    height: 2.250em;
    box-sizing: border-box;
}

.top .mobile-menu ul li ul {
    position: absolute;
    display: none;
    width: 100%;
    background: #40E0D0;
    
}
.top .mobile-menu ul li:hover ul{
    display:block;
    padding:0;
}

/*authorization*/
.top .authorization {
      padding: 0;
}

.top .authorization a{
    font-size: 0.7em;
}

.top .authorization a:hover {
    padding: 0.3em 1.7em 0.7em 1.7em;
}

.top .open-window:target {
    border: none;
    top: 20%;
    right: 10%;
    left: 10%;
    text-align: center;
    font-size: 0.875em;
    position: fixed;
    padding: 0.938em;
    background-color: rgba(0, 250, 154, 1);
    -webkit-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -moz-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -ms-box-shadow:0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
}
/*recovery psw
for 768 px, 480 px, 320 px
*/
.links-authorization {
    display: block;
}

#emailRec {
    width: 97%;
}
#recovery {
    font-size: 0.875em;
    margin-top: 1em;
    border: none;
}

#recovery .Btn {
    background: white;
}

.Btn1 {
    text-transform: uppercase;
    color: #6572BC;
    background: white;
    float: right;
}

#recovery #createBtn:hover, #recovery .Btn:hover, .Btn1:hover {
    background: #256D7B;
    color: white;
}

/*registration
for 768 px, 480 px, 320 px
*/
.register-window-m{
    font-size: 0.8em;
    color: #F5F5F5;
    background-color: rgba(0, 255, 127, 1);
}
.register-window-m ::-webkit-input-placeholder {
    color:#333333;
}
.register-window-m ::-moz-placeholder {
    color:#333333;
}

/*index.html*/
body .container {
    display: none;
}

body .container-mobile {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}
.col-last-container-mobile{
   padding-left: 0.3em;
}
  
 /*rating.html*/
 body .container-rating .right, .container-rating .left {
    display:none;
  } 
  
  body .container-rating .center {
      margin: 1em 3em 1em 3em;
  }
  
  body .actions {
    width: 100%;
  }
  body .galleria {
    width: 550px; 
    height: 400px;
    margin: 0;
  }
  
  body .about-pic p, span {
      font-size: 0.7em;
  }
  
  body #like {
      width: 14%;
  }
  
  body .like {
      width: 50%;
  }
  
  body #like textarea, .btn-comment, #comments {
      font-size: 0.8em;
  }
  
   /*about.html*/
 body .container-about .right, body .container-about .left, body .container-about q  {
    display:none;
  }
 body .container-about iframe {
      margin-top: 0;
      height: 100%;
  }

/*share.html*/
 .container-share .left, .container-share .right,  .container-share .center #theme, .container-share .center img{
    display:none;
  }
  
body .container-share .center .item-mobile {
  display:block;
  margin-bottom: 1em;
}

.container-share .center {
    display: none;
}

.container-share .center-mobile{
    display: block;  
}

.container-share .center-mobile .item-mobile{
    width: 70%;
    margin: 1em;
}

.container-share textarea {
    width: 130%;
}
.container-share .center-mobile .field {
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.container-share .center-mobile .item-list {
    margin: 1em;
}

.container-share .center-mobile input {
    background-color: #e6fff7;
}

.container-share .center-mobile [type="radio"]{
    margin-right: 0.3em;
}

#label {
    color: darkblue;
    font-weight: bold;
}

  /*index*/
  body #mob-text {
    display: block;
    font-size: small;
    line-height: 1.8;
    text-align: justify;
    padding: 0.5em;
}    

/*footer
for 768 px, 480 px
*/
body .footer {
    position: fixed;
    bottom: 0;
}
body .footer-m {
    right: 0;
    background: none;
}
.up {
    display: none;
}
}

@media screen and (max-width: 415px){
 /*rating.html*/
 body .container-rating .left, body .container-rating .right {
    display:none;
  } 
 
 body .container-rating .center {
    flex: 1;
    margin: 1em 1em 1em 1em;
}
  
  body .galleria {
    width: 450px; 
    height: 300px;
  }

  #print {
    display: none;
  }

.btn-comment {
font-size: 59%;
}
  body .about-pic p {
      font-size: 0.7em;
      margin: 0;
      margin-bottom: 0.5em;
  }
  
  body .about-pic  span {
      font-size: 0.7em;
      margin: 1em;
  }
  
  body #like {
      width: 20%;
      padding: 0;
  }
  
  body .like {
      width: 50%;
  }
  
  bodytextarea, #comments {
      font-size: 1em;
  }
#like {
      font-size: 0.9em;
  }
.btn-comment {
      font-size: 0.7em;
  }
fieldset {
    padding-bottom: 0;
}

.actions #comments  > div{
  font-size: 0.7em;
}

  /*about.html*/
  body .container-about .center {
      margin: 0.3em 0 0.3em 0;
      padding: 1.2em;
  }
   body .container-about p{
      font-size: small;
      margin: 0.2em;
  }
 
body .container-about iframe{
  margin-top: 1em;   
}
  
  /*index*/
  body #mob-text {
    display: block;
    font-size: small;
    line-height: 1.8;
    text-align: justify;
    padding: 0.5em;
}    

/*footer*/
body .footer {
    display: none;
}

body .footer-m {
    display: block;
    position: fixed;
    font-size: small;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.footer-m img {
    position: relative;
    z-index: -1;
}


}

@media screen and (max-width: 360px) {
  
/*index.html*/
body #mob-text {
    display: block;
    font-size: small;
    line-height: 1.8;
    text-align: justify;
    padding: 0.5em;
}    
body .footer-m {
    background: rgba(30, 144, 255, 0.3);
}

/*share.html*/
body .container-share .center .field {
    border: none;
    font-size: small;
}
body .container-share .center textarea {
   font-size: small;
}

/*about*/
body .container-about .center {
    margin: 0;
    padding: 0 1em  0 1em ;
}

body .container-about iframe{
  margin-bottom: -3em;   
}

/*rating.html*/
  body .galleria {
    width: 300px; 
    height: 250px;
    margin: 0;
  }
  .btn-comment {
font-size: 59%;
}
  body .about-pic p {
      font-size: 0.7em;
      margin: 0;
      margin-bottom: 0.5em;
  }
  
  body .about-pic  span {
      font-size: 0.7em;
      margin: 4em;
  }
  
  body #like {
      width: 25%;
      padding: 0;
  }
  
  body .like {
      width: 50%;
  }
  
  body #like textarea, #comments {
      font-size: 1em;
  }
  .btn-comment, #like {
      font-size: 0.8em;
  }

  @media screen and (max-width: 320px) {
  
/*index.html*/
body #mob-text {
    display: block;
    font-size: small;
    line-height: 1.8;
    text-align: justify;
    padding: 0.5em;
}    
body .footer-m {
    background: rgba(30, 144, 255, 0.3);
}

/*share.html*/
body .container-share .center .field {
    border: none;
    font-size: small;
}
body .container-share .center textarea {
   font-size: small;
}

/*about*/
body .container-about .center {
    margin: 0;
    padding: 0 1em  0 1em ;
}

body .container-about iframe{
  margin-bottom: -1em; 
height: 60%;  
}

/*rating.html*/
  body .galleria {
    width: 300px; 
    height: 250px;
    margin: 0;
  }
  .btn-comment {
font-size: 59%;
}
  body .about-pic p {
      font-size: 0.7em;
      margin: 0;
      margin-bottom: 0.5em;
  }
  
  body .about-pic  span {
      font-size: 0.6em;
      margin: 4em;
  }
  
  body #like {
      width: 20%;
      padding: 0;
  }
  
  body .like {
      width: 40%;
      height: 11px;
  }
  
  body textarea, #comments {
      font-size: 1em;
  }
  .btn-comment, #like {
      font-size: 0.6em;
  }
  /*share*/
  
  .container-share textarea{
      width: 120%;
  }
  
 .container-share #BtnEnter {
      width: 100%;
      
      
  }
  .container-share .button-shareit {
      width: 90%;
      margin-bottom: 2em;
  }
  
  .container-share .center-mobile .item-list{
      width: 90%;
  }
  .center > div > h3, p{
      width: 50%;
  }
  .container-share .center-mobile input{
      width: 100%;
  }
}
}
