/* 
    Created on : 24.11.2018, 12:20:55
    Author     : larissolb
*/
@import url(normalize.css);
@import url(media.css);


body {
    background: url(../img/bfon.png);
    background-color: rgba(248, 248, 255, 0.2);
}

img {
   max-width: 100%;
   height: auto;
   max-height: 100%;
}

h2 {
    margin-top: 0;
}

#hide {
    display: none;
}
/*header */
#header {
    background: url(../img/main.jpg);
    display: flex;
    flex:1;
    -webkit-flex: 1;
    -moz-flex: 1;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

#header:hover {
    background-image: url(../img/main-hover.jpg);
}

h1 {
    margin-left: 0.5em;
    color: #088A85;
}

/*menu*/
.top {
    display: flex;
    margin-bottom: 1em;
}
.menu {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
}

.menu ul{
    display: flex;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    justify-content: space-between;
/*    position:absolute;*/
    list-style:none;
    margin: 0;
/*    padding:0 0 0.5em 1.5em;*/
    background: #40E0D0;
/*    width: 99%;*/
}

.menu ul li {
    padding: 0.5em 0 0.5em 0.5em;
    position:relative;
    float:left;    
    justify-content: center;
    z-index: 100;
}

.menu ul li:hover ul{
    display:block;
    padding:0;
}

.menu ul li a, .authorization a{
    padding:0.7em 1.7em 0.6em 1.7em;
    font-size:0.875em;
    font-family:Arial, sans-serif;
    color:#ffffef;
    line-height:1.3em;
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    height:2.250em;
  
}

.menu ul > li:hover, nav ul > li:hover, .authorization a:hover{
/*    background:#DDA0DD;*/
    background: #256D7B;
    color:#F0FFF0;
}

/*раскрывающееся меню*/
.menu ul li ul {
    background: #AAF0D1;
    display: none;   
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    justify-content: space-between;
    position:absolute;
    list-style:none;
    margin: 0;
    padding:0.5em 0 0.5em 1.5em;
    background: #40E0D0;

}

.menu ul li ul li  {
    position:relative;   
    width: 100%;
    text-align: center;
    padding: 0em; 
}

.menu ul li ul li a {
    display: block;
    text-transform: none;
    height: auto;
    padding: 0.5em 1em;
    border-top: 1px solid #ffffff;
}
.mobile-menu {
    display: none;
}

/*authorization*/
.authorization {
    position:relative;
    background: #256D7B;
    padding:0.5em 0 0.5em 0;
}
.open-window {
    display: none;
}
.open-window ::-webkit-input-placeholder {
   color:#333333;
}
.open-window ::-moz-placeholder {
    color:#333333;
}
.open-window a {
    text-transform: uppercase;
    color: #6572BC;
}
.open-window:target {
    display: block;
    position: fixed;
    right: -1%;
    background:  #AAF0D1;
    z-index: 2;
}
#email, #psw {
  width: 97%;
}

/*recovery psw*/

.recovery {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(95, 158, 160, 0.65);
    position: fixed; 
 }
.recovery:target {
    display: block;
    height: 100%;
}
.recovery-window {
    display: none;
    right: 0;
    left: 30%;
    font-size: 0.875em;
    margin-top: 5em;
    width: 85%;
    min-width: 20em;
    max-width: 37.5em;
    position: fixed;
    padding: 0.938em;
    background-color: rgba(216, 191, 216, 0.9);
    -webkit-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -moz-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -ms-box-shadow:0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
   z-index: 100;
}
.recovery-window ::-webkit-input-placeholder{
        color:#333333;
}
.recovery-window ::-moz-placeholder{
        color:#333333;
}

.recovery-window h4 {
    margin-top: 0;
}
.recovery:target+.recovery-window {
    display:block;
/*    height: 100%;*/
}

/*register*/
.register {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 100, 0, 0.65);
    position: fixed; 
}
.register:target {
    display: block;
    height: 100%;
}

.register-window {
    display:none;
    right: 0;
    left: 30%;
    font-size: 0.875em;
    margin: 0;
    width: 85%;
    min-width: 20em;
    max-width: 37.5em;
    position: fixed;
    padding: 0.938em;
    border-radius: 0.5em;
    border-style: dotted;
    border-color: darkgreen; 
    color: #F5F5F5;
    background-color: rgba(0, 255, 127, 0.7);
    -webkit-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -moz-box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    -ms-box-shadow:0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
    box-shadow: 0 0.938em 1.250em rgba(0,0,0,.22),0 1.188em 3.750em rgba(0,0,0,.3);
   z-index: 100;
}
.register-window ::-webkit-input-placeholder {
    color:#333333;
}
.register-window ::-moz-placeholder {
    color:#333333;
}
.register:target+.register-window {
    display: block;
}

h4 {
    margin-top: 0;
}

#create input {
  width: 95%; 
  margin-bottom: 1em;
}

#country {
    width: 100%; 
    margin-bottom: 1.5em;
    color: #7A7666;
}

#info {
    display: block;
    font-style: italic;
    color: #47402E;
    margin: -1em 0.3em 0.8em 0.3em;
    font-size: 0.9em;
}

#busyEmail, #busyLogin, #noCountry  {
    display: none;
    font-style: italic;
    color: #C41E3A;
    margin: -1em 0 1em 0;
}

/*buttons*/
#BtnEnter, .Btn {
    text-transform: uppercase;
    color: #6572BC;
    margin: 0.5em 0.5em 0.5em 0;
    box-shadow: 0.063em 0.063em 0.63em darkgray;
    background: #AAF0D1;
    height: auto;
    width: 100%;
}
#createBtn, #create .Btn {
    color: #00693E;
    background: #F5F5F5;
}

#createBtn {
    text-transform: uppercase;
    color: #00693E;
    margin: 0.5em 0.5em 0.5em 0;
    box-shadow: 0.063em 0.063em 0.63em darkgray;
    background: #F5F5F5;
    height: auto;
    width: 100%; 
}

#BtnEnter:hover, .Btn:hover{
    background: #256D7B;
    box-shadow: 0.063em 0.063em 0.63em darkgray;
    font-weight: bolder; 
    color: #ffffff;
}
#createBtn:hover, #create .Btn:hover{
    background: #44944A;
    box-shadow: 0.063em 0.063em 0.63em darkgray;
    font-weight: bolder; 
    color: #ffffff;
}
    
#aBtnlater {
    background: #AAF0D1;
    padding: 0;
}

.close-button {
    top: -0.625em;
    right: -0.625em;
    width: 1.250em;
    height: 1.250em;
    position: absolute;
    padding: 0;
    border: 2px solid lavenderblush;
    -webkit-border-radius: 0.938em;
    -moz-border-radius: 0.938em;
    -ms-border-radius: 0.938em;
    -o-border-radius: 0.938em;
    border-radius: 0.938em;
    background-color: rgba(119, 136, 153, 0.8);
    -webkit-box-shadow: 0em 0em 1em #000;
    -moz-box-shadow: 0em 0em 1em #000;
    box-shadow: 0em 0em 1em #000;
    text-align: center;
    text-decoration: none;
    font: 0.813em/1.250em 'Tahoma', Arial, sans-serif;
    font-weight: bold;
}
.close-button:before {
    color: lightsteelblue;
    content: "X";
    font-size: 1.5em;
    font-weight: bolder;
}
.close-button:hover {
    background-color: highlighttext;
}

/*index*/
.container-mobile, #mob-text {
    display: none;
}

.container, .container-about {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;    
}

.left {
    flex: 1;
    margin: 1em;
}

.left img {
    border: groove 10px #007BA7;
    border-radius: 30px; 
}

.center {
    flex: 2;
    margin: 1em;
}

.center > div > h3, p {
    margin: 1em 1em 0 3em;
    text-align: justify; 
}

.right {
    flex: 1;
    margin: 1em;
}

.right img {
    border-radius: 30px;
    margin-bottom: 1.5em;
}

/*figure office equipment*/
.logocontainer {
  position: relative;
  margin: auto;
  top: 14.5%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 220px;
  transform: scale(1.5, 1.5);
}
.logocontainer .bottomline {
  position: absolute;
  letter-spacing: 2px;
  font-family: "verdana";
  font-size: 10px;
  text-align: center;
  top: 230px;
  width: 200px;
  height: 40px;
  color: grey;
}
.logocontainer .yellowpencil {
  position: absolute;
  top: 86px;
  left: 5px;
  width: 12px;
  height: 120px;
  border-radius: 10px 10px 0px 0px;
  background-color: #f4d03f;
  animation: bounce 0.5s linear 0s infinite;
  animation-play-state: paused;
}
.logocontainer .bluepencil {
  position: absolute;
  top: 57px;
  left: 42px;
  width: 12px;
  height: 150px;
  background-color: #004462;
  border-radius: 10px 10px 0px 0px;
  animation: bounce 0.5s linear 0.1s infinite;
  animation-play-state: paused;
}

.logocontainer .ruler {
  position: absolute;
  top: 19px;
  left: 80px;
  width: 18px;
  height: 200px;
  background-color: #edf4f9;
  animation: bounce 0.5s linear 0.2s infinite;
  animation-play-state: paused;
}
.logocontainer .biro {
  position: absolute;
  top: 46px;
  left: 124px;
  width: 12px;
  height: 160px;
  border-radius: 10px 10px 0px 0px;
  background-color: #bdbdbd;
  /* overflow: hidden;*/
  animation: bounce 0.5s linear 0.3s infinite;
  animation-play-state: paused;
}

.logocontainer .highlighter {
  position: absolute;
  top: 100px;
  left: 166px;
  width: 24px;
  height: 90px;
  border-radius: 10px 10px 0px 0px;
  background-color: #c0ca33;
  animation: bounce 0.5s linear 0.4s infinite;
  animation-play-state: paused;
}
/* Animation control start */

.logocontainer:hover .bluepencil,
.logocontainer:hover .yellowpencil,
.logocontainer:hover .ruler,
.logocontainer:hover .biro,
.logocontainer:hover .highlighter {
  animation-play-state: running;
}

/* Animation control end */
.logocontainer .lead {
  position: absolute;
  margin-left: -4px;
  margin-top: -9px;
  border-top: solid 8px #646464;
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
}
.logocontainer .yellowtip {
  position: absolute;
  margin-top: 120px;
  border-top: solid 14px #f6ddcc;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
}
.logocontainer .yellowrubberend {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 10px 10px 0px 0px;
  background-color: pink;
}
.logocontainer .yellowrubbertip {
  position: absolute;
  margin-top: 12px;
  width: 12px;
  height: 8px;
  background-color: #b4c0c6;
}
.logocontainer .yellowstrip {
  position: absolute;
  margin-left: 4px;
  width: 5px;
  height: 120px;
  background-color: #f9dc6b;
}

.logocontainer .bluepenciltop {
  position: absolute;
  width: 12px;
  height: 25px;
  background-color: black;
  border-radius: 10px 10px 0px 0px;
}
.logocontainer .bluepencilstrip {
  position: absolute;
  margin-top: 10px;
  margin-left: 4px;
  width: 4px;
  height: 150px;
  background-color: #026692;
}
.logocontainer .bluepencilend {
  position: absolute;
  margin-top: 10px;
  width: 12px;
  height: 24px;
  background-color: #cfd8dc;
}
.logocontainer .bluepenciltext {
  position: absolute;
  top: 8px;
  left: -1px;
  color: #a9a9a9;
  transform: rotate(-90deg);
  font-family: "verdana";
  font-size: 10px;
}
.logocontainer .bluepenciltip {
  position: absolute;
  margin-top: 150px;
  border-top: solid 14px #f6ddcc;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
}

.logocontainer .rulerlines {
  position: relative;
  margin-top: 5px;
  width: 7px;
  height: 2px;
  background-color: #a9a9a9;
}
.logocontainer .rulerlines2 {
  position: relative;
  margin-top: 5px;
  width: 10px;
  height: 2px;
  background-color: #a9a9a9;
}

.logocontainer .birotop {
  position: absolute;
  left: 0px;
  width: 12px;
  height: 45px;
  border-radius: 10px 10px 0px 0px;
  background-color: #484848;
}
.logocontainer .birostrip {
  position: absolute;
  left: 4px;
  width: 4px;
  height: 160px;
  background-color: #d9d9d9;
}
.logocontainer .birotip {
  position: absolute;
  margin-top: 160px;
  border-top: solid 14px #484848;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
}
.logocontainer .biroclip {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 4px;
  height: 55px;
  background-color: #484848;
}
.logocontainer .highlighterstrip {
  position: absolute;
  top: 20px;
  left: 4px;
  width: 15px;
  height: 80px;
  background-color: #cddc39;
}
.logocontainer .highlightertop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 40px;
  border-radius: 10px 10px 0 0;
  background-color: #393939;
}
.logocontainer .highlighterclip {
  position: absolute;
  top: 46px;
  left: 10px;
  width: 4px;
  height: 38px;
  border-radius: 5px;
  background-color: #e6ee9c;
}
.logocontainer .highlightertip {
  position: absolute;
  top: 90px;
  width: 24px;
  height: 18px;
  background-color: #393939;
}
.logocontainer .highlightertip:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 19px;
  width: 6px;
  height: 18px;
  border-top-left-radius: 80% 100%;
  background-color: white;
}
.logocontainer .highlightertip:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  width: 6px;
  height: 18px;
  border-top-right-radius: 80% 100%;
  background-color: white;
}
.logocontainer .highlighternib {
  position: absolute;
  top: 100px;
  left: 7px;
  width: 10px;
  height: 18px;
  background-color: #cddc39;
  transform: skewy(20deg);
}

@keyframes bounce {
  0%,
  100% {
    transform: translatey(0px);
  }
  25%,
  75% {
    transform: translateY(-16px);
  }
  50% {
    transform: translatey(-20px);
  }
}


/*rating*/
.container-rating {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;    
}

.container-rating .left {
    flex: 1;
    margin: 1em 0 1em 0;
}

.container-rating .left img {
    border: none;
    border-radius: 5px;    
}

.hrefleft {
    margin-bottom: 1em;
}

.container-rating  .right img {
    border: outset violet 4px;
    border-radius: 0;  
    float: right;
    margin-bottom: 0.5em;
}

.container-rating .center {
    flex: 4;
    margin: 1em 0 1em 3em;
}

.container-rating .right {
    flex: 1;
    margin: 1em 1em 1em 0;
}

.container-rating .right a > img {
        opacity: 0.5;
}

.container-rating .right a > img:hover {
    opacity: 1;
}

.container-rating h1 {
    margin-top: 0;
}

/*for galleria*/
.galleria {
    width: 830px; 
    height: 400px;
    box-shadow: 0 0 0 1px silver,
    0 -20px 0 -10px coral,
    20px 0 0 -10px chartreuse, 
    0 20px 0 -10px gold, 
    -20px 0 0 -10px darkturquoise;
    margin: 1em 0 1em 2em;
 }

 .galleria-theme-classic {
     background: rgba(143, 188, 143, 0.8);
 }

/*for sliders*/
.actions {
    display: flex;
    align-self: center;
    background: #F0FFF0;
    width: 99%;
}

.icons-rate {
    display: flex;
    justify-content: space-between;
    
}

.slider {
     box-shadow: 0 0 0 1px silver,
    0 -20px 0 -10px coral,
    20px 0 0 -10px chartreuse, 
    0 20px 0 -10px gold, 
    -20px 0 0 -10px darkturquoise;
    margin: 1em 1em 1em 1em;
    background: white;
}

.slider img {
    display: none;
}

.slider img.active {
    display: block;
    text-align: center;
}

#print {
    padding: 1em 0 1em 0;
    opacity: 0.8;
    margin-right: 11px;
}

#like {
    opacity: 0.8;
    padding: 0 0 1em 0.5em;
    width: 9%;
}

#info {
    opacity: 0.8;
    padding: 1em 0 1em 0;
    margin: 0 15em 0 0;
}

#like:hover, #print:hover {
        opacity: 1;
        cursor: pointer;
}
.like, .container-share .like{
    color: lightseagreen;
    font-weight:bolder;
    resize: none;
    background: none;
    border: none;
    height: 20px;
    padding-left: 3em;
    width: 32%;
 }
 .container-share .like{
  width: 30%;
 }
.comments {
    width: 100%;
    padding-top: 0.5em;
 }
 
.comments textarea {
  resize: none;
  width: 98%;
  background: #0088cc; 
  box-shadow: 0 0 4em 4em floralwhite inset;
  margin-bottom: 0.5em;
}

.btn-comment {
  background: lavender;
  font-weight: 500; 
  font-family: "FunSized";
  letter-spacing: 5px;
  color: #0088cc;
  text-transform: uppercase;
  padding: 0.5em;
}
.btn-comment:hover {
  background: lightblue;
  cursor: pointer;
}

 
fieldset {
  border: none;
  resize: none;
}

#comments  > div{
  border-bottom: 0.5px dotted grey;
  padding: 0.5em;
  font-size: 1.1em;
  font-weight: 300;
  color: darkcyan;
}

#comments  > .startend{
    color: #D2691E;
    background-color: #F5F5F5;
    
}

#comments  > .startend > p{
    text-align: end;
}

#comments > .startend > #text {
    color: darkcyan;
    text-align: justify;
    font-style: italic;
}

/*about.html*/
.container-about .left, .container-about .right {
    flex: 1;
    margin: 1em;
}
.container-about .left img, .container-about .right img {
    opacity: .3;
    transition-property: opacity;
    border: none;
}
.container-about .left img:hover, .container-about .right img:hover {
    opacity: 1;
  
}
.container-about .center {
   flex: 2;
   align-items: center;
   padding: 0 1.5em 0 1.5em;
   line-height: 1.5;
   text-align: center;
   margin-top: 1em;
   background-color: rgba(240, 255, 255, 0.4);
}

.container-about .center q {
    margin: 0.5em 0 0.5em 0;
    background: #FFF4E0;
    color: #474C4F;
    padding: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.container-about .center q:before {
    content: "*";
    font-family: FontAwesome;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 1em;
    color: #474C4F;
    font-size: 0.5em;
    background: #FFF4E0;
    padding: 0 1em;
}
.container-about .center q:after {
    content: """";
    position: absolute;
    left: 2em;
    top: 1em;
    right: 1em;
    height: 0.5em;
    border-top: 1px dotted #474C4F;
}
iframe {
    margin: 3.5em 0 1em 0;
    width: 100%;
    height: 50%;
}
.letter-red:hover {
    color: red;
    font-weight: bold;
    font-style: italic;
}
.letter-orange:hover {
    color: orange;
    font-weight: bold;
    font-style: italic;
}
.letter-yellow:hover {
    color: yellow;
    font-weight: bolder;
    font-style: italic;
}
.letter-green:hover {
    color: green;
    font-weight: bold;
    font-style: italic;
}
.letter-blue:hover {
    color: blue;
    font-weight: bold;
    font-style: italic;
} 
.letter-darkblue {
    margin-bottom: 2em;
} 
.letter-darkblue:hover {
    color: darkblue;
    font-weight: bold;
    font-style: italic;
} 
.letter-violet:hover {
    color: violet;
    font-weight: bold;
    font-style: italic;
}

/*share*/
.container-share {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;    
}

.container-share .center .item-mobile {
  display:none;
}

.container-share .left {
    flex: 1;
    margin: 0 0 1em 0;
}

.center-mobile {
    display: none;
}

.left a{
  text-decoration: none;
  color: green;
}
.left a:hover{
  color: darkblue;
}

.left p > a{
text-transform: uppercase;
font-weight:bold; 

}

.link-instr p, p > a {
    margin: 0;
    text-align: left;
}

.container-share .center {
    flex: 4;
    margin: 0.5em 2em 1em 1em;
}

.container-rating .right h2 {
    text-align:end;
}

.container-rating .right a{
    text-decoration: none;
    font-family: fantasy;
    color: green;
    padding-left: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

/*form*/
.container-share .center ::-webkit-input-placeholder {
    color:#333333;
}
.container-share .center ::-moz-placeholder {
    color:#333333;
  }

.container-share .center input[type="radio"] {
    font-style: italic;
}
.container-share .center #share {
    font-family: fantasy;
    color: midnightblue;
}
.container-share .center  .item {
    margin-bottom: 1em; 
}
.container-share .center .button-shareit {
    display: flex;
    border: hidden;
    margin: 1em 0 1em 0;
    width:100%;
    flex-direction: row;
    justify-content:  space-around;
}

.container-share .center .field {
    display: flex;
    background:  #e6e6ff;
    padding: 1em;
    border-radius: 0.5em;
    margin: 1em 0 0 0.5em;
    font-size: 1em;
    color: midnightblue;
    border: 10px outset #eee6ff;
    flex-direction: column;
}

.container-share textarea, .container-share .center input {
  background: #e6fff7;
}

.container-share .center img {
  margin: 1em;
}

.container-share .center #like >img {
  margin: 0;
}

#formLike {
    width: 3%;
}

.container-share .Btn:hover {
    background: #bdb5b4;
}

.container-share .right {
    flex: 1;
    margin: 1em 0 1em 0;
}

.container-share .right img{
    border: none;
    margin-top: 0.5em;
}

.container-share .left img  {
border: none;
}

/*pic.php*/
.about-pic h2{
       text-align: center;
       position: relative;
       margin-bottom: 0;
       padding-bottom: 0.3em;
       color: #fff;
       text-shadow: 0 1px rgba(0,0,0,.8);
       background: #D2691E;
       background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
       background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
       background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
       background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
       background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
       -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
       -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
       box-shadow: 0 2px 0 rgba(0,0,0,.3);
       z-index: -1;
}

.about-pic p {
    font-style: italic;
    text-align: end;
    position: relative;
    margin-bottom: 1.5em;
    color: #FF4500;
}

.about-pic div{
    font-family: "FunSized";
    text-align: center;
    margin-bottom: 1em;
    color: #8B0000;
}
  body .about-pic p.aboutpic {
      text-align: center;
      color: #8B0000;
  }
  
  .mobile {
      display: none;
  }

.center .about-pic img {
    margin-top: 0;
    margin-left: 0;
    width: 860px;
    height: auto;
}

.container-share .right a img {
    margin-left: 1.5em;
    opacity: 0.5;
}
.container-share .right a img:hover {
    opacity: 1;
}

/*footer*/
.footer {
    display: flex;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    background: rgba(30, 144, 255, 0.3);
    font-size: small;
    padding: 1em 1em 0 1em;
    flex-direction: row;
}

.socnet {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    text-align: justify;
}
.up {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    text-align: end;
    margin-top: -1.5em;
}

#back {
    display: none;
    width: auto;
}

#red {
    color: red;
}

@font-face {
font-family: "FunSized"; 
src: url("../fonts/FunSized.ttf"); 
font-style: normal; 
font-weight: normal; 
} 
